Package: com.squ1dd13.csios
Name: CSiOS
Depends: mobilesubstrate
Architecture: iphoneos-arm
Description: An awesome MobileSubstrate tweak!
Maintainer: Squ1dd13
Author: Squ1dd13
Section: Tweaks
Version: 0.0.1-1+debug
Installed-Size: 276
